<div  class="page-header-wrapper about-wrapper">
  <div class="collection-header about-header">
    <h1 class="page-title" style="color: white; padding: 40px 10px;">
        {{ page.title }}
    </h1>
  </div>
</div>
      {{ page.content }}
